*{
  padding: 0;
  margin: 0;
  user-select: none;
}

*:focus{
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

html{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #202020;
  background-color: #ffffff;
  transition: 0.6s ease;
  overflow-x: hidden;
}

@media only screen and (min-width: 1367px){
  html{
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px){
  html{
    font-size: 8px;
  }
}

.loading{
  overflow: hidden;
  opacity: 0;
}

#root{
  transition: 0.6s ease 1s;
}

.blink{
  animation: load 1.2s infinite;
  transition: 0.3s ease;
}

@keyframes load{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.hide{
  transform: translateX(-100vw);
}

.side-links-left{
  position: fixed;
  top: 30%;
  left: 2.5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side-links-right{
  position: fixed;
  top: 35%;
  right: 2.5%;
}

.side-links-left h1, .side-links-right{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1.5rem;
  font-weight: 600;
  color: #202020;
  opacity: 0.5;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.side-links-left-dark h1{
  color: rgba(255,255,255,0.75);
  transition: 0.3s ease 1.5s;
}

.side-links-right{
  color: rgba(0,0,0,0.5);
}

.side-links-left h1:hover{
  opacity: 1;
  cursor: pointer;
}

.side-links-left-dark h1:hover{
  color: rgba(255,255,255,1) !important;
  transition: 0.3s ease;
}

.see-more{
  color: transparent;
  opacity: 0;
}

.see-more-active{ 
  color: rgba(255,255,255,0.75);
  transition: 0.3s ease 1.5s;
}

.see-more-active:hover{
  color: rgba(255,255,255,1);
  transition: 0.3s ease;
  cursor: pointer;
}

.loader{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #202020;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}

.loader h1{
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

nav{
  padding: 3rem 10rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px){
  nav{
    padding: 1.5rem;
  }

  .side-links-left, .side-links-right{
    display: none;
  }
}

nav > h1{
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #606060;
}

nav .burger h2{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #404040;
}

nav .burger{
  display: flex;
  gap: 1rem;
  align-items: center;
}

nav .burger .burger-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  border: thin solid #404040;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.3s ease;
}

nav .burger-active .burger-icon{
  background-color: #202020;
}

nav .burger .burger-icon:hover{
  background-color: #202020;
  cursor: pointer;
}

nav .burger-active .burger-icon:hover{
  background-color: #ffffff;
}

.burger .burger-icon .burger-line{
  width: 2rem;
  height: 0.25rem;
  background-color: #404040;
  transition: 0.6s ease;
}

.burger-active .burger-icon .burger-line{
  background-color: #ffffff;
  transition: 0.9s ease;
}

.burger-active .burger-icon .line1{
  transform: translateY(0.525rem) rotate(45deg);
}

.burger-active .burger-icon .line2{
  opacity: 0;
}

.burger-active .burger-icon .line3{
  transform: translateY(-0.525rem) rotate(-45deg);
}

.burger .burger-icon:hover .burger-line{
  background-color: #ffffff;
}

.burger-active .burger-icon:hover .burger-line{
  background-color: #202020;
}

.hero{
  margin: 1rem 0rem;
}

.hero .hero-header{
  font-size: 5rem;
  font-weight: 400;
  padding: 1rem 10rem 0rem;
  font-family: 'Playfair Display', serif;
  color: #202020;
}
@media only screen and (max-width: 768px){
  .hero .hero-header{
    font-size: 3rem;
    padding: 1rem;
  }
}

.image-holder{
  width: 100%;
}

.image-holder{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease;
}

.image-holder-active{
  align-items: center;
}

.project{
  height: 80vh;
  width: calc(100vw - 20rem);
  background: url('./hero-back.png'), rgba(0,0,0,0);
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  transition: all 0.6s ease 0.6s, background-color 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.project > h1{
  font-family: 'Playfair Display', serif;
  align-self: flex-end;
  font-size: 5rem;
  font-weight: 400;
  margin: 1rem 2rem 0rem;
  color: #ffffff;
  opacity: 0;
  transition: 0.3s ease 1.5s;
}

.project-active > h1{
  opacity: 1;
}

.proj-one{
  background-image: url('./hero-back.png');
}

.proj-two{
  background-image: url('./proj-one.png');
}

.project-active{
  height: 75vh;
  background-color: rgba(0,0,0,0.3);
}

@media only screen and (max-width: 768px){
  .image-holder{
    margin-top: -35%;
    align-items: flex-end;
  }

  .project{
    width: 100vw;
  }

  .project-active{
    height: 85vh;
    width: 100vw;
  }
}

.project div h1{
  opacity: 0;
  margin-left: 2rem;
  font-size: 9rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -0.25rem;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

@media only screen and (max-width: 768px){
  .project > h1{
    font-size: 7.5rem;
    transform: translateY(-12.5vh);
    align-self: flex-start;
  }

  .project div h1{
    font-size: 5rem;
  }

}

.project-active div h1{
  opacity: 0;
  transition: color 0.3s ease, letter-spacing 0.6s ease;
}

.project-active div .active-header{
  color: #fff;
  opacity: 1;
  letter-spacing: 0.25rem;
  transition: color 0.3s ease 1.5s, letter-spacing 0.6s ease 1.2s, opacity 0.3s ease;
}

.project-active:hover{
  cursor: pointer;
}

.project-active div .project-loader{
  height: 0.5rem;
  background-color: #ffffff;
  animation: projectLoader 10s ease-in-out 1.5s infinite forwards;
}

@keyframes projectLoader{
  0%{
    width: 0%;
  }
  80%{
    width: 100%;
  }
  100%{
    width: 100%;
  }
}

.hide-text{
  color: rgba(0,0,0,0);
}