*{
  padding: 0;
  margin: 0;
  user-select: none;
  text-decoration: none;
}

*:focus{
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

html{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #202020;
  background-color: #ffffff;
  transition: 0.6s ease;
  overflow-x: hidden;
}

.html-project-active{
  background-color: #202020;
}

@media only screen and (min-width: 1367px){
  html{
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px){
  html{
    font-size: 8px;
  }
}

.loading{
  overflow: hidden;
  opacity: 0;
}

#root{
  transition: 0.6s ease 1s;
}

.blink{
  animation: load 1.2s infinite;
  transition: 0.3s ease;
}

@keyframes load{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.hide{
  transform: translateX(-100vw);
}

.side-links-left{
  position: fixed;
  top: 40%;
  left: 2.5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.side-links-right{
  position: fixed;
  top: 25%;
  right: 2.5%;
}

.side-links-left h1, .side-links-right{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1.5rem;
  font-weight: 600;
  color: #202020;
  opacity: 0.5;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.side-links-left-dark h1{
  color: rgba(255,255,255,0.75);
  transition: 0.3s ease 1.5s;
}

.side-links-right{
  color: rgba(0,0,0,0.5);
}

.side-links-left h1:hover{
  opacity: 1;
  cursor: pointer;
}

.side-links-left-dark h1:hover{
  color: rgba(255,255,255,1) !important;
  transition: 0.3s ease;
}

.see-more{
  color: transparent;
  opacity: 0;
}

.see-more-active{ 
  color: rgba(255,255,255,0.75);
  transition: 0.3s ease 1.5s;
}

.see-more-active:hover{
  color: rgba(255,255,255,1);
  transition: 0.3s ease;
  cursor: pointer;
}

.loader{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #202020;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}

.loader h1{
  font-size: 4rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

nav{
  padding: 3rem 10rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

@media only screen and (max-width: 768px){
  nav{
    padding: 1.5rem;
    z-index: 999;
  }

  .side-links-left, .side-links-right{
    display: none;
  }
}

nav > h1{
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #606060;
  transition: 0.3s ease 1.2s;
  z-index: 999;
}

@media only screen and (max-width: 768px){
  nav > h1{
    z-index: 999;
  }
}

.nav-active > h1{
  color: #ffffff;
  z-index: 999;
}

.nav-links{
  width: 50vw;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.nav-links div{
  display: flex;
  gap: 2rem;
}

.nav-links h1{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #202020;
  opacity: 0.5;
  transition: 0.3s ease;
}

.nav-links .nav-link-contact{
  opacity: 0.75;
}

.nav-links h1:hover{
  opacity: 1;
  cursor: pointer;
}

nav .burger h2{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #404040;
  transition: 0.3s ease 1.2s;
}

nav .burger-active h2{
  color: #ffffff;
}

nav .burger{
  display: flex;
  gap: 1rem;
  align-items: center;
  z-index: 999;
}

nav .burger .burger-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  border: thin solid #404040;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.3s ease 1.2s;
}

.burger .burger-icon .burger-line{
  width: 2rem;
  height: 0.25rem;
  background-color: #404040;
  transition: 0.6s ease 1.2s;
}


.burger-active .burger-icon .burger-line{
  background-color: #ffffff;
  transition: 0.9s ease;
}

.burger-active .burger-icon .line1{
  transform: translateY(0.525rem) rotate(45deg);
}

.burger-active .burger-icon .line2{
  opacity: 0;
}

.burger-active .burger-icon .line3{
  transform: translateY(-0.525rem) rotate(-45deg);
}


nav .burger-active .burger-icon{
  border: thin solid #ffffff;
}

nav .burger{
  display: none;
}

@media only screen and (max-width: 768px){
  nav .nav-links{
    display: none;
  }

  nav .burger{
    display: flex;
  }
}

.hero{
  margin: 1rem 0rem;
}

.hero .hero-header{
  font-size: 5rem;
  font-weight: 400;
  padding: 1rem 10rem 0rem;
  font-family: 'Playfair Display', serif;
  color: #303030;
  transition: 0.3s ease;
}

.hero .hero-header .header-bold{
  font-weight: 500;
  color: #000000;
}

.html-project-active .hero .hero-header{
  z-index: -1;
  opacity: 0;
}

@media only screen and (max-width: 768px){
  .hero .hero-header{
    font-size: 3rem;
    padding: 1.5rem;
  }
}

.image-holder{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease;
  z-index: -1;
}

.image-holder-active{
  align-items: center;
  z-index: 998;
}

.image-holder-active *{
  z-index: 999;
}

.project{
  height: 80vh;
  width: calc(100vw - 20rem);
  background: url('./hero-back.png'), rgba(0,0,0,0);
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  transition: all 0.6s ease 0.6s, background-color 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: -1;
}

.image-holder-active .project-section{
  z-index: 999;
}

.project > h1{
  font-family: 'Playfair Display', serif;
  align-self: flex-end;
  font-size: 5rem;
  font-weight: 400;
  margin: 1rem 2rem 0rem;
  color: #ffffff;
  opacity: 0;
  transition: 0.3s ease;
}

.project-active > h1{
  opacity: 1;
  transition: 0.3s ease 1.5s;
  z-index: 999;
}

.proj-one{
  background-image: url('./travelaholic.jpg');
}

.proj-two{
  background-image: url('./hungri.jpg');
}

.project-active{
  height: 75vh;
  background-color: rgba(0,0,0,0.3);
}

@media only screen and (max-width: 768px){
  .image-holder{
    margin-top: -35%;
    align-items: flex-end;
  }

  .project{
    width: 100vw;
  }

  .project-active{
    height: 85vh;
    width: 100vw;
  }
}

.project div h1{
  opacity: 0;
  margin-left: 2rem;
  font-size: 7.5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -0.25rem;
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

@media only screen and (max-width: 768px){
  .project > h1{
    font-size: 7.5rem;
    transform: translateY(-15vh);
    align-self: flex-start;
  }

  .project div h1{
    font-size: 5rem;
  }

  .project div{
    width: 100%;
  }

}

.project-active div{
  width: calc(100vw - 20rem);
}

.project-active div h1{
  opacity: 0;
  transition: color 0.3s ease, letter-spacing 0.6s ease;
}

.project-active div .active-header{
  color: #fff;
  opacity: 1;
  letter-spacing: 0.25rem;
  transition: color 0.3s ease 1.5s, letter-spacing 0.6s ease 1.2s, opacity 0.3s ease;
}

.project-active:hover{
  cursor: pointer;
}

.project-active div .project-loader{
  height: 0.5rem;
  width: 100%;
  background-color: #ffffff;
  animation: projectLoader 10s ease-in-out 1.5s infinite forwards;
}

@keyframes projectLoader{
  0%{
    width: 0%;
  }
  80%{
    width: 100%;
  }
  100%{
    width: 100%;
  }
}

.menu{
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #202020;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 15vh;
  transition: 1.2s ease;
  transform: translateX(120%);
}

.menu .menu-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.menu .menu-links h1{
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.menu .menu-buttons{
  width: 100%;
  display: flex;
}

.menu .menu-buttons button{
  width: 50%;
  height: 10rem;
  border: none;
  border-top: 1px solid #ffffff;
  background-color: transparent;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: #ffffff;
}

.menu .menu-buttons button:nth-of-type(1){  
  border-right: 0.5px solid #ffffff;
}

.menu .menu-buttons button:nth-of-type(2){  
  border-left: 0.5px solid #ffffff;
}

.menu-active{
  transform: translateX(0%);
}

.section-burger{
  height: 5rem;
  width: 5rem;
  border: thin solid #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.section-burger:hover{
  cursor: pointer;
}

.section-burger .line{
  width: 2.5rem;
  height: 0.3rem;
  background-color: #ffffff;
}

.section-burger .line1{
  transform: translateY(0.30rem) rotate(45deg);
}

.section-burger .line2{
  transform: translateY(-0.30rem) rotate(-45deg);
}

.project-section{
  position: fixed;
  top: 0;
  left: 0;
  padding: 5vh 10rem 0rem;
  width: calc(100vw - 20rem);
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: #202020;
  z-index: 999;
}

.project-item-section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.project-section .project-item{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project-section .project-item h1{
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: 400;
  color: #ffffff;
  z-index: 998;
}

.project-section .project-item:hover{
  cursor: pointer;
}

.project-section .project-item p{
  font-size: 2rem;
  color: #ffffff;
  opacity: 0.75;
}

.project-section .project-item:nth-of-type(odd) img{
  position: absolute;
  object-fit: cover;
  left: 25vw;
}

.project-section .project-item:nth-of-type(even) img{
  position: absolute;
  object-fit: cover;
  left: 65vw;
}

@media only screen and (max-width: 768px){
  .project-section{
    padding: 1.5rem 1.5rem 0rem;
    width: calc(100vw - 3rem);
  }

  .project-item-section{
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .project-section .project-item{
    padding-bottom: 1.5rem;
    border-bottom: thin solid rgba(255,255,255,0.25);
  }

  .project-section .project-item h1{
    font-size: 4rem;
  }

  .project-section .project-item p{
    font-size: 2rem;
  }

  .project-section .project-item img{
    display: none;
  }
}

.item-page{
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: #ffffff;
  z-index: 999;
}

.item-page{
  width: 100vw;
  background-color: #ffffff;
}

.item-page .section-burger{
  margin: 2.5rem 10rem;
}

.item-page .item-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -16vh;
  padding-top: 6vh;
  background-color: #202020;
}

.item-page .item-image h1{
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: 400;
  color: #ffffff;
}

.item-page .item-image img{
  height: 36rem;
  width: 64rem;
  filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.5));
  transform: translateY(5vh);
}

.item-page .item-details{
  padding: 12.5vh 10rem 2.5rem;
  background-color: #ffffff;
}

.item-page .section-burger{
  border: thin solid #ffffff;
  z-index: 999;
}

.item-page .section-burger .line{
  background-color: #ffffff;
}

.item-page .dark{
  border: thin solid #202020 ;
}

.item-page .dark .line{
  background-color: #202020;
}

@media only screen and (max-width: 768px){
  .item-page{
    background: #ffffff;
  }

  .item-page .item-details{
    padding: 5vh 1.5rem 1.5rem;
  }

  .item-page .section-burger{
    margin: 1.5rem;
  }

  .item-page .item-image h1{
    padding-top: 2.5vh;
    font-size: 3.5rem;
  }
  
  .item-page .item-image img{
    height: 22.5rem;
    width: 40rem;
    transform: translateY(2.5vh);
  }
}

.item-details .header{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.item-details .item-links{
  display: flex;
  gap: 1rem;
}

.item-details .item-link{
  margin: 1rem 0rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: #202020;
  color: #ffffff;
}

.item-details .header h1{
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  font-weight: 400;
}

.item-details .header h2{
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}


.item-details .header ul{
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

.item-details .header li{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.item-details .header p{
  font-size: 2rem;
  margin-top: 2rem;
}

.item-page .section-burger{
  z-index: 999;
}

.item-page .item-image-section{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 15rem 10rem 5rem;
}

.item-page .item-image-section .item-image{
  height: 100vh;
  width: 100%;
  background: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-page .item-image-section .item-image img{
  width: 80rem;
  height: 45rem;
  object-fit: cover;
  filter: drop-shadow(0 0 1rem rgba(0,0,0,0.3));
}

@media only screen and (max-width: 768px){
  .item-page .item-image-section .item-image{
    height: 40vh;
    width: 100vw;
  }

  .item-page .item-image-section{
    margin: 17.5rem 0rem 0rem;
  }

  .item-page .item-image-section .item-image img{
    width: 48rem;
    height: 27rem;
    object-fit: cover;
  }
}

.overflow-none{
  height: 0;
}

.hide-text{
  color: rgba(0,0,0,0);
}

.no-scroll{
  overflow-y: hidden;
}