*{
    padding: 0;
    margin: 0;
    cursor: none;
}

*:focus{
    outline: none;
}

html{
    margin: 0;
    padding: 0;
    font-family: 'Monument Extended', sans-serif;
    font-size: 10px;     
}



@media only screen and (max-width:768px){
    html{
        font-size: 5px;
    }
}

@media only screen and (min-width: 2560px){
    html{
        font-size: 15px;
    }
}

@media only screen and (min-width: 3840px){
    html{
        font-size: 20px;
    }
}

body{
    overflow-x: hidden;
    background-color: #121212;
    scroll-behavior: smooth;                    
}

.body-loading{
    overflow: hidden;
}

.preloader{
    background-color: #293241;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.loading {
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: medium solid white;
    background-color: #293241;
    color: white;
    animation: loader 2s infinite; 
    transition: opacity 0.3s ease-in-out;
}

.loading h1{
    letter-spacing: 0.15rem;
}

@keyframes loader{
    0% {
        background-color: #293241;
        color: white;
    }
    50% {
        background-color: white;
        color: #293241;
    }
    100% {
        background-color: #293241;
        color: white;
    }
}
  
.loading h1{
    font-size: 3rem;
}

.center{
    position: absolute;
    top: 50vh;
    left: 50vw;
} 

.preloader-files{
    display: none;
}

nav{
    color: white;
    padding: 4.5rem 10rem;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    position: fixed;
    top:0;
    width: calc(100vw - 20rem);
    transition: background-color 0.3s ease-in-out, padding 0.6s ease-in-out;
}

.nav-scroll{
    background-color: #212121;
    padding: 1.5rem 10rem;
    align-items: center;
}

@media only screen and (max-width:768px){
    nav{
        padding: 4.5rem;
        width: calc(100vw - 9rem);
    }

    .nav-scroll{
        padding: 1.5rem 4.5rem;
    }
}
nav h1{
    font-weight: 400;
}

nav > h1{
    font-size: 3rem;
}

nav > h1 span{
    color: transparent;
    -webkit-text-stroke: 0.5px white;
    opacity: 0;
    transition: 0.3 ease-in-out;
}

nav .menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav .menu h1{
    font-size: 2rem;
}

.menu .burger{
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    border: thin solid white;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.menu .burger-active{
    background-color: white;
}

.menu .burger:hover{
    background-color: white;
}

.menu .burger-active:hover{
    background-color: #313131;
}

.burger .line{
    width: 2rem;
    height: 0.2rem;
    background-color: white;
    transition: 0.3s ease-in-out;
}

.burger-active .line{
    background-color: #313131;
}

.burger-active .line2{
    opacity: 0;
}

.burger-active .line1{
    transform: rotate(45deg) translate(0.5rem,0.5rem);
}

.burger-active .line3{
    transform: rotate(-45deg) translate(0.5rem,-0.5rem);
}

.menu .burger:hover .line{
    background-color: #293241;
}

.menu .burger-active:hover .line{
    background-color: white;
}

@media only screen and (max-width: 768px){
    nav{
        align-items: center;
    }
    
    nav .menu h1{
        font-size: 2.5rem;
    }

    nav .menu .burger{
        width: 7rem;
        height: 7rem;
        border-radius: 3.5rem;
        gap: 0.75rem;
    }

    .burger .line{
        width: 3rem;
    }

    .burger-active .line1{
        transform: rotate(45deg) translate(0.65rem,0.6rem);
    }

    .burger-active .line3{
        transform: rotate(-45deg) translate(0.65rem,-0.55rem);
    }
}

.menu-section{
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #313131;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    transform: translateX(250rem) !important;
    transition: 1s ease-in-out;
}

.menu-section-active{
    transform: translateX(0) !important;
}

.menu-section a{
    text-decoration: none;
    margin: 0rem 10rem;
    transition: opacity 0.3s;
    transition-delay:  1s;
    opacity: 0;
}

.menu-section-active a{
    opacity: 1;
}

.menu-section a h1{
    color: #313131;
    font-size: 10rem;
    font-weight: 400;
    letter-spacing: 1rem;
    text-transform: uppercase;    
    -webkit-text-stroke: 1.5px white;
    transition: 0.3s ease-in-out;
}

.menu-section a h1:hover{
    letter-spacing: 2rem;
    color: white;
}


@media only screen and (max-width:768px){
    .menu-section{
        gap: 10rem;
    }
    
    .menu-section a{
        margin: 0rem 4.5rem;
    }

    .menu-section a h1{
        font-size: 7.5rem;
        -webkit-text-stroke: none;
        color: white;
    }
}

.work-title{
    font-size: 7.5rem;
    margin: 20rem 10rem 10rem;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    -webkit-text-stroke: 1.5px white;
}

@media only screen and (max-width: 768px){
    .work-title{
        margin: 20rem 4.5rem 10rem;
    }
}

.work-items{
    margin: 1rem 10rem 10rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

@media only screen and (max-width: 768px){
    .work-items{
        display: flex;
        flex-direction: column;
        margin: 4.5rem;
        gap: 4.5rem;
    }
}

.work-item{
    min-height: 45vh;
    background: url('../img/img2.jpg'), rgba(0,0,0,0.2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    padding: 2rem;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work-item:nth-child(1){
    grid-column: span 2;
}

.work-item:nth-child(5){
    grid-row: span 2;
    justify-content: flex-start;
}

.work-item:nth-child(even){
    background-image: url('../img/img1.jpg');
}

@media only screen and (max-width: 768px){
    .work-item:nth-child(5){
        justify-content: space-between;
    }
}

.work-item:hover{
    background-color: rgba(0,0,0,0.4);
}

.work-item h1{
    color: transparent;
    font-size: 5rem;
    letter-spacing: 0.25rem;
    -webkit-text-stroke: 1.5px white;
}

.work-item p{
    opacity: 0;
    color: white;
    font-size: 2rem;
    transition: 0.3s ease-in-out 0.15s;
}

.work-item:hover p{
    opacity: 1;
}

footer{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    padding: 8rem 10rem;
    color: white;
    justify-content: center
}

footer h1{
    font-size: 3.5rem;
}

footer a{
    color: white;
    font-size: 2.5rem;
}

footer .links{
    display: flex;
    flex-direction: column;
}

footer .contact{
    align-self: flex-start;
}

footer .social{
    align-self: flex-end;
    text-align: right;
}

@media only screen and (max-width: 768px){
    footer{
        flex-direction: row;
        justify-content: space-between;
        padding: 8rem 4.5rem;
    }

    footer h1{
        font-weight: 400;
        letter-spacing: 0.15rem;
    }

    footer a{
        letter-spacing: 0.3rem;
    }
}

.same-page-alert{
    background-color: white;
    text-align: center;
    padding: 1rem;
    color: #293241;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.same-page-alert h1{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

@media only screen and (max-width: 768px){    
    .same-page-alert h1{
        font-size: 2.75rem;
    }
}

.alert-active{
    opacity: 1;
}